.about-top{
background-color: black;
height: 150px;
}
.about-text{
  color: aliceblue;
  text-align: center;
  padding-top: 40px;
}.heading-row {
  display: flex;
  margin-left: 50px;
  align-items: center;
}.right-text{
  margin-left: 60px;
}.about-img{
  margin-left: 30px;
  margin-top: 60px;
}.how-works{
  text-align: center;
}.works-paragraph{
  margin-top: 20px;
}.cards{
  display: flex;
}.user-img{
  height: 50px;
  width: 50px;
  margin-left: 90px;
}.card-1{
  padding-left: 80px;
}.card-2{
  padding-left: 80px;
}.card-3{
  padding-left: 80px;
}.card-4{
  padding-left: 80px;
}
