
.jobs_heading{
text-align: center;
color: #ffffff;
background-color: black;
padding-bottom: 40px;

}
.card {
    border-radius: 8px;
    border: 1px solid #e5e5e5;
    background-color: #3096891A;
}

.card h6 {
    font-weight: 600;
    margin-bottom: 10px;
}

.form-check-label {
    font-size: 14px;
}

.card.text-center {
    color: #fff;
}

.city {
    margin-right: 100px;
}

.category {
    margin-right: 100px;

}

.show_btn {
    color: rgb(222, 233, 233);
    background-color: rgb(75, 165, 135);
}

.job_type {
    margin-right: 130px;

}

.jobtype {
    margin-right: 100px;
    margin-top: 30px;
}

.experience_heading {
    margin-top: 30px;
    margin-right: 90px;

}

.experience {
    margin-right: 130px;

}

.date_posted {
    margin-right: 110px;
    margin-top: 40px;
}

.date {
    margin-right: 120px;

}

.salary-btn {
    background-color: rgb(27, 172, 123);
    border: none;
    margin-left: 30px;
}

.salary_range {
    margin-right: 50px;
}

.btn-light {
    background-color: #e8f6f2;
    color: #0f766e;
}

.image-wrapper {
    position: relative;
    width: 314px;
}

.hiring-img {
    width: 100%;
    height: 460px;
    display: block;
    border-radius: 12px;

}

.image-text {
    position: absolute;
    top: 20px;
    transform: translateX(-50%);
    margin-left: 100px;
    color: white;
    text-align: center;
}

.jobcard {
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
    border: none;
    margin-top: 50px;
}

.jobdetail {
    margin-left: 140px;
    background-color: #72c1bc;
    border: none;
}

@media (max-width: 576px) {

    .jobcard .d-flex.justify-content-between {
        flex-direction: column;
        align-items: flex-start;
        gap: 6px;
    }
}.pagination{
    justify-content: center;
} 