.navbar {
  background-color: #000 !important;
  display: flex;
}

.navbar-brand {
  font-size: 18px;
}

.nav-link {
  color: #ccc !important;
}

.register{
  background-color: rgb(120, 189, 156);
  border: none;
}
